<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="navbar">
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li th:if="${session.user == null}"><a th:href="@{/login}">Login</a></li>
        <li th:if="${session.user == null}"><a th:href="@{/register}">Register</a></li>
        <li th:if="${session.user != null}"><a th:href="@{'/gallery?userId=' + ${session.user.id}}">My Photos</a></li>
        <li th:if="${session.user != null}"><a th:href="@{/upload}">Upload Photo</a></li>
        <li th:if="${session.user != null}"><a th:href="@{/search}">Search Photos</a></li>
        <li th:if="${session.user != null}"><a th:href="@{/fetch}">Fetch External URL</a></li>
        <li th:if="${session.user != null}"><a th:href="@{/logout}">Logout</a></li>
        <li th:if="${session.user != null}">
            <span class="admin-panel"><a th:href="@{/admin}">Admin Panel</a></span>
        </li>
    </ul>
</div>

<div class="container">
    <h1>Login</h1>
    <form th:action="@{/login}" method="post">
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">Login</button>
    </form>
    <div th:if="${error}" class="error" th:text="${error}"></div>
    <p>Don't have an account? <a th:href="@{/register}">Register here</a>.</p>
</div>
</body>
</html>
